@media screen and (max-width: 945px) {
  main {
    text-align: center;
    margin: auto;
  }
  main div form {
    width: 100% !important;
    text-align: center;
  }

  main div form input {
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }
}
